<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title> Muhammad Alfath Fiqhya Amrinagara</title>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(function() {
                $("#accordionPendidikan").accordion({header: "> div > h3"})
                .sortable({
                    axis: "y",
                    handle: "h3",
                    stop: function(event, ui){
                        ui.item.children("h3").triggerHandler("focusout");
                        $(this).accordion("refresh");
                    }
                });
            });
        </script>
        <style>
            *{padding: 0; margin: 0;}
            p.solid {border-style: solid;}
            h1 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
            h2 {text-align: center;}
            h3 {background: white; padding: 5px; border: 1px solid #ccc;}
            #accordionPendidikan{width: 500px; margin: auto;}
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            body  {
                background-color: rgb(51, 54, 54);
            }
            .ap{
                background: yellow;
                padding: 20px;
            }
            .bio{
            width: 101%;
            margin-top: 0%;
            margin-right: -100;
            background-color: #31CD7A;
            border-style: solid;
            border-color: rgb(0, 0, 0);
            padding: 20px 0;
            }

            .pendidikan{
            width: 101%;
            margin-top: 0%;
            margin-right: -100;
            background-color: #31CD7A;
            border-style: solid;
            border-color: rgb(0, 0, 0);
            padding: 20px 0;
            }

            .kontak{
            background-color: #000000;
            text-align: center;
            padding: 20px 0;
            }
        </style>
    </head>

    <body>
        <div style="background-color: black;">
        <ul class="nav justify-content-end" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="{% url 'profile:profile' %}" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
            </li>
            <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-about-tab" data-toggle="pill" href="{% url 'profile:about' %}" role="tab" aria-controls="pills-about" aria-selected="false">about</a>
            
            </li>
        </ul>
    </div>

        <header>
            <h1 style="color:rgb(255, 255, 255)"> MUHAMMAD ALFATH FIQHYA AMRINAGARA</h1>   
        </header>

    <img src="{% static 'FR37.jpg' %}" width="250" height="400" border= "5">
    <h2 style="color:rgb(255, 255, 255)"> BIO</h2>
    <div class="bio">    
        <p style="font-family:verdana"> Nama: Muhammad Alfath Fiqhya Amrinagara (Alfath)</p>
        <p style="font-family:verdana">NPM: 1906299036</p>
        <p style="font-family:verdana">Angkatan: 2019</p>
        <p style="font-family:verdana">Hobby: Mendengarkan Musik</p>
        <p style="font-family:verdana"> Description: Seseorang Yang Suka Membuat Orang Lain Bahagia</p>
    </div>

    <h2 style="color:rgb(255, 255, 255)"> PENDIDIKAN</h2>

    <!--
    <div class="pendidikan">
    <p style="font-family:verdana">2007-2013 : Global Islamic School</p>
    <p style="font-family:verdana">2013-2016 : MTsN 7 Jakarta</p>
    <p style="font-family:verdana">2016-2019 : MAN 13 Jakarta</p>
    <p style="font-family:verdana">2019-Sekarang : Fakultas Ilmu Komputer Universitas Indonesia</p>
    </div>
    -->
    <div class="pendidikan">
    <div id="accordionPendidikan">
        <div class="group">
            <h3>Pendidikan 1</h3>
            <div class="ap">
                <p>2007-2013 : Global Islamic School</p>
            </div>
        </div>
        <div class="group">
            <h3>Pendidikan 2</h3>
            <div class="ap">
                <p>2013-2016 : MTsN 7 Jakarta</p>
            </div>
        </div>
        <div class="group">
            <h3>Pendidikan 3</h3>
            <div class="ap">
                <p>2016-2019 : MAN 13 Jakarta</p>
            </div>
        </div>
        <div class="group">
            <h3>Pendidikan 4</h3>
            <div class="ap">
                <p>2019-Sekarang : Fakultas Ilmu Komputer Universitas Indonesia</p>
            </div>
        </div>
    </div>
    </div>

    <div class="kontak">
        <h1 style="color:rgb(253, 252, 252)">Contact</h1>
        <p style="text-aligh: center;">
            <a href="https://www.instagram.com/alfathfiqhya">
                <img src="/static/639b3dafb544d6f061fcddd2d6686ddb.png" class="img-fluid" alt="Responsive image" width="100" height="200">
            </a>
        </p>
        <p class="cr" style="color:rgb(253, 252, 252)">Copyright 2020 Alfath, All right reserved</p>

    </div>
</body>
</html>